.o_billboard_map_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#billboard_leaflet_map {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 400px;
    z-index: 1;
}

#billboard_leaflet_map {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 400px;
    z-index: 1;
}

/* Custom Marker Styles */
.custom-div-icon {
    background: none;
    border: none;
}

.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #007bff;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.custom-div-icon i {
    position: absolute;
    width: 30px;
    font-size: 14px;
    left: 0;
    top: 5px;
    text-align: center;
    color: #333;
    z-index: 10;
}

/* Popup Styles */
.site-popup {
    min-width: 180px;
    font-family: inherit;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.popup-header strong {
    font-size: 1.1em;
}

.popup-header .badge {
    font-size: 0.7em;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
}

.popup-body {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
}

.popup-body strong {
    color: #333;
}